.modal-window {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-window-hidden {
    display: none;
}

.modal-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: purple;
    opacity: 0.8;
    border-radius: 10px;
}

.modal {
    position: absolute;
    background-color: #fff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: purple;
    font-size: 20px;
    width: 400px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: initial;
    border-radius: 5px;
}

.modal-input {
    outline: none;
    margin: 15px 0;
    border: 3px solid purple;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: purple;
    border-radius: 5px;
}

.modal-btn {
    width:100px;
    height: 35px;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: purple;
    border: 1px solid purple;
    border-radius: 5px;
   
    &:hover {
        color: #fff;
        transition: ease-in 0.3s;
        background-color: purple;
    }
}
